.posts {
    display: grid;
    grid-gap: 16px;
    padding-top: 32px;
  }

@media screen and (max-width: 499px) {
    .header {
        padding: 16px;
        text-align: right;
    }

    .header_title {
        font-size: 24px;
        text-align: left;
    }

    .header_menu {
        font-size: 28px;
        text-decoration: none;
        color: white;
        height: 44px;
    }

    .nav {
        top: 74px;
        left: 0px;
        z-index: 10;
        background-color: white;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
        transition: transform 0.5s ease;
    }
    
    .nav_list {
        display: block;
    }

    .nav_item {
        border-bottom: 1px solid #e0e0e0;
        width: 300px;
        padding: 14px 0;
        text-align: center;
        background-color: #0369cf;
    }

    .nav_item a {
        padding: 14px;
    }

    .nav_item:hover {
        border-radius: 0px;
    }
    
    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .hero_inner {
        padding: 0px 32px;
    }

    .hero_title {
        font-size: 32px;
    }
}

@media screen and (min-width: 500px) {
    .header_menu {
        display: none;
    }

    .header {
        padding: 1rem;
    }

    .nav {
        padding: 1rem 0;
    }

    .nav a {
        padding: 1rem 0.5rem;
    }
}

@media screen and (min-width: 900px) {
    .posts {
        grid-template-columns: 1fr 1fr;
    }

    .header {
        padding: 16px 32px;
    }

    .nav a {
        padding: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
}

